.modal 
{
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/pIkfp.gif') 
                50% 50% 
                no-repeat;

}


 img.main-image{width:50%;display:block}
 
.hedertitle
{
    font-size:20px;
    color:White;
}

.hedertitlediv
{
    height:40px;
    line-height:40px;
    text-align:center;
    vertical-align:middle;
    background-image:url('../style/images/header_bg.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.footerdiv
{
    height: 30px;
    line-height: 30px;
    background-image:url('../style/images/header_bg.png');
    
}
 .lblpass
 {
     font-size:17px !important ;
     color:#004163;
 }
 
 .lblinnerlbl
 {
     font-size:14px;
     color:#004163;
 }
 .lblinnerlable
 {
     font-size:12px;
     color:#333333;
   
 }
 
 .lblinnerwelcome
 {
     font-size:12px;
     color:#333333;   
     float:left;
 }
 
 
 .lblinnerlableright
 {
     font-size:12px;
     color:#666666;
 }
 .box
 {
     
     background-image:url('../style/images/box_normal.png'); 
     background-repeat:no-repeat;
     background-size:100% 100%;
     padding:1%;
     
 }
 .bigbox
 {
     background-image:url('../style/images/box_big.png'); 
     background-repeat:no-repeat;
     background-size:100% 100%;
     padding:1%;
 }
 .grdheder
 {
     font-size:14px;
     color:#333333;
     background-image:url('../style/images/grid_header.png');      
 }
  .grdrow
  {
    
      font-size:12px;
     color:#004163;
     
  }
  .datarow
  {         
     border:1px solid #c1d7e2;
     background-color:#EDEDED;
  }
  
  .btnimg
  {
      cursor:pointer;
  }
  
  .btnback
  {
      float: left;
      height:30px;
      padding-top:5px;
  }
   
  .btnsetting
  {
      float: right;
      height:30px;
      padding-top:7px;
      padding-right:7px;
  } 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  